# Chặn thư mục thư viện nặng (QUAN TRỌNG NHẤT)
node_modules/

# Chặn file môi trường (chứa mật khẩu/key bảo mật nếu sau này dùng)
.env

# Chặn file log hệ thống
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Chặn thư mục hệ điều hành tự sinh ra
.DS_Store
Thumbs.db